* {
  margin: 0;
  padding: 0;
}
:root {
  --background-color: #ffffff;
  --title-text-color: #2f303a;
  --accent-color: #e5e5e5;
  --accent-text-color: #757575;
}
a {
  text-decoration: none;
}
/*
background: #2f303a; - черный
background: #e5e5e5; -преимущества
background: #f5f4fa; - наша команда
background: #2196f3; -синяя кнопка
color: #2196F3;-синий шрифт
color: #212121 - черный шрифт
color: #757575; - серый шрифт */

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 30, 52px;
  color: var(--title-text-color);
  text-decoration: none;
}
.logo-header {
  color: #2196f3;
}
.site-nav a {
  font-family: Roboto;
  font-weight: 500;
  color: #2f303a;
}
.adress a {
  font-family: Roboto;
  font-weight: 500;
  color: #757575;
}

.hero {
  background-color: #2f303a;
  padding: 200px 452px 280px 452px;
  font-family: Roboto;
  font-weight: 900;
  color: #ffffff;
}
.feature {
  background: #e5e5e5;
}
.section-title {
  font-family: Roboto;
  font-weight: 700;
  color: #212121;
}
.feature-list {
  font-family: Roboto;
  font-weight: 400;
  color: #212121;
}
.accent {
  font-family: Roboto;
  font-weight: 400;
  color: #757575;
}
.team {
  background: #f5f4fa;
}
.member {
  font-family: Roboto;
  font-weight: 500;
  color: #212121;
}
.team-position {
  font-family: Roboto;
  font-weight: 400;
  color: #757575;
}
footer {
  background-color: #212121;
}
.logo-foot {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 30, 52px;
  color: #ffffff;
  text-decoration: none;
}
.logo-footer {
  color: #2196f3;
}
.adress-footer,
.adress-footer a {
  font-family: Roboto;
  font-weight: 500;
  color: #ffffff;
}
